apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mcp-servers.fullname" . }}-config
  labels:
    {{- include "mcp-servers.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.terraform.env.config }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}